docs/documentation/.next
.DS_Store
server/node_modules
server/wasm/*.wasm
ui/node_modules
server/.env
/dev.env
/lib
debug/
target/
**/*.rs.bk
*.pdb
*.vscode
.vscode
cli/test
cli/.vscode
cli/js
cli/go
cli/rust
cli/ts
*.wasmo
*.log