@tailwind base;
@tailwind components;
@tailwind utilities;


/* *::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

#search form div {
    overflow: auto;
    max-height: calc(500px - 71px);
    margin-bottom: 24px;
}